@charset "UTF-8";

@font-face {
  font-family: "sis-con";
  src:url("fonts/sis-con.eot");
  src:url("fonts/sis-con.eot?#iefix") format("embedded-opentype"),
    url("fonts/sis-con.woff") format("woff"),
    url("fonts/sis-con.ttf") format("truetype"),
    url("fonts/sis-con.svg#sis-con") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "sis-con" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sis-con" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bill-with-dollar-sign-and-coins:before {
  content: "\61";
}
.icon-binders:before {
  content: "\62";
}
.icon-business-pie-chart:before {
  content: "\63";
}
.icon-coverage-level:before {
  content: "\64";
}
.icon-education-chart:before {
  content: "\65";
}
.icon-cube-graphic-of-squares:before {
  content: "\66";
}
.icon-electrocardiogram-report:before {
  content: "\67";
}
.icon-infographic-diagram:before {
  content: "\68";
}
.icon-january-payment-day-calendar-page:before {
  content: "\69";
}
.icon-right-alignment:before {
  content: "\6a";
}
.icon-invoice:before {
  content: "\6b";
}
.icon-calculator-on:before {
  content: "\6c";
}
.icon-list-on-a-clipboard:before {
  content: "\6d";
}
.icon-tax:before {
  content: "\6e";
}
